---
file: getting-started
---
# Getting Started

SecureSocial is an authentication module for Play Framework applications that works with
services based on OAuth1, OAuth2 and OpenID*.  

It provides out of the box support for:

- Twitter (OAuth1)
- Facebook (OAuth2)
- GitHub (OAuth2)
- Google (OAuth2)
- LinkedIn (OAuth1 and OAuth2)
- Foursquare (OAuth2)
- Instagram (OAuth2)
- VK (OAuth2)
- XING (OAuth1)
- Username/Password with signup and reset password functionality.

**OpenID and more services are coming soon*

# Scala or Java

SecureSocial is written in Scala. However, if you don't use Scala fear not, the module provides APIs in both languages so you can use your preferred one :-).

## Versions

### Stable


<ul>
<% data.versions.stable.each do | item | %>    
<li> <a href='https://github.com/jaliss/securesocial/tree/<%= item.moduleVersion %>'><%= item.moduleVersion %></a> for Play <%= item.playVersion %></li>
<% end %>
<li>
    <%= data.versions.ss1 %> for Play 1: available via the official Play module repository and under the <a href="https://github.com/jaliss/securesocial/tree/1.x">1.x</a> branch on GitHub.
    </li>
</ul>

### Snapshots

<ul>
<% data.versions.snapshots.each do | item | %>    
<li> SecureSocial for Play <%= item.playVersion %> is built from <a href='https://github.com/jaliss/securesocial/tree/<%= item.moduleVersion %>'><%= item.moduleVersion %></a></li>
<% end %>
</ul>

*Note: you can use snapshots to get access to the latest changes but keep in mind that things might break there*.

## Important

This guide is for SecureSocial 2, if you need the documentation for an older version please check the [1.x](https://github.com/jaliss/securesocial/tree/1.x) branch on GitHub.
